<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!—Configurações de Conexão com a Database -->
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:file:E:/hsqldb/data/course_db;hsqldb.lock_file=false</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">sa</property>

        <!-- JDBC connection pool (Usando built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>

        <!-- Habilita o Gerenciamento de contexto automático da sessão do Hibernate -->
        <property name="current_session_context_class">thread</property>

        <!—Desabilita a Cache secundária -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!—Imprime todos os SQLs executados -->
        <property name="show_sql">true</property>

        <!—Excluir e re-cria o esquema da base de dados na inicialização -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="pacote.NossaClasseEntidade"/>
  <mapping class="pacote.NossaClasseEntidade2"/>


    </session-factory>

</hibernate-configuration>